# Build outputs
build/
dist/
bin/

# Logs / temp
*.log
*.tmp
*.bak
*.swp

# Visual Studio
.vs/
*.user
*.suo
*.VC.db
*.VC.opendb

# C/C++ intermediates
*.obj
*.res
*.ilk
*.pdb
*.idb
*.o
*.a
*.lib
*.exe
*.exp

# Env
get_env_msvc_*.bat

# Misc
.DS_Store
Thumbs.db